
nav{
  position: sticky;
  top: 0px;
}
.list-unstyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-plain {
  text-decoration: none;
  color: initial;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.mt-3 {
  margin-top: 1em;
}

.mb-3 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 0.75em;
}

.mb-2 {
  margin-top: 0.75em;
}
.ml-3 {
  margin-left: 20px;
}
.ml-2 {
  margin-left: 0.75em;
}

.text-right {
  text-align: right;
}
@media (max-width: 600px) {
  .d-sm-none {
    display: none;
  }
}

@media (min-width: 600px) {
  .d-lg-none {
    display: none;
  }
}

.img-responsive {
  width: 70%;
}

.bold {
  font-weight: 700;
}
.f-md {
  font-size: 18px;
}
.f-sm {
  font-size: 14px;
}
.pt-3 {
  padding-top: 10px;
}

nav ul li button{
  background-color: lightblue;
    border: none;
}